.tab {
  text-align: center;
}
.header {
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid cyan;
}

.tab-banner {
  padding-top: 10px;
  width: 15%;
}
input, input:focus, input:hover, button {
  border-radius: 15px;
  outline: none;
}
button {
  background-color:rgb(145, 71, 255);
  color: white;
  height: 30px;
  width: 80px;
  border: none;
  border-radius: 15px;
}
.twitch-link {
  display: flex;
  padding-left: 10px;
}
.twitch-link h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.inputs {
  text-align: end
}
.user {
  align-items: center;
  padding-right: 10px;
  display: flex;
}

.user * + * {
    margin-left: 10px;
}

.container {
  display: flex;
  flex-direction: column;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.table-container {
  display: flex;
  margin: auto;
  width: 80%
}

.pr-score {
  margin-top: 20px; 
}

  .add-result .form {
    left: calc(-50% + 120px);
    text-align: end;
    position: relative;
  }

  .add-result h3 {
    color: rgb(169, 112, 255);
  }
  .add-result .form .data {
      padding: 5px;
  }


  /**************** The Modal (background) *****************/
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}